.h5by {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
}

.intro-noticia h5 {
    font-size: 20px;
    color: #383838;
    font-weight: bolder;
}

.intro-noticia p {
    font-size: 12px;
    color: #383838;
}

.h4by {
    font-size: 14px;
    color: #383838;
    font-weight: bold;
}

.lineanoticia {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modulonoticia {
    margin: 15px 15px 60px 15px;
}

.iconnoticia {
    max-width: 80px;
}

.encabezadodetallenoticia {
    margin: 30px 0px 30px 20px;
}

.encabezadodetallenoticia h5 {
    font-size: 12px;
    color: #888888;
    font-weight: normal;
}

.noticiabanner {
    text-align: center;
    max-width: 100%;
}

.noticiabanner img {
    max-width: 100%;
    width: auto;
}

.noticiasTextoParrafo {
    font-size: 16px;
    color: #383838;
    font-weight: lighter;
    margin: 30px 60px 30px 20px;
}

.noticiastexto h3 {
    color: #383838;
    font-weight: normal;
    margin: 16px 60px 0px 16px;
}

.titulodetallenoticia h1 {
    font-size: 28px;
    color: #383838;
    font-weight: normal;
    margin: 20px 0px 20px 20px;
}

.subtitulodetallenoticia h5 {
    font-size: 14px;
    color: #888888;
    font-weight: normal;
    margin: 20px 0px 20px 20px;
}

.noticiasTextoParrafo {
    font-size: 16px;
    color: #383838;
    font-weight: lighter;
    margin: 30px 60px 30px 20px;
}

.noticiasTextoParrafo1 {
    display: flex;
    align-items: center;
    color: #383838;
    font-weight: bold;
    margin: 30px 0px 30px 60px;
    letter-spacing: 0, 5px;
    line-height: 30px;
    padding-right: 40px;
}

.noticiasTextoParrafo1 p {
    padding-left: 30px;
}

.cierredetallenoticia {
    display: flex;
    text-align: left;
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    margin: 0px 0px 30px 20px;
}

.cierredetallenoticia h5 {
    font-size: 12px;
    color: #888888;
    font-weight: normal;
    margin-bottom: 30px;
}

.cierre {
    height: 1px;
    background: #888888;
    display: flex;
    margin-bottom: 10px;
}

.redesespacio-noticia {
    display: flex;
    margin-left: 20px;
    color: #888888;
    text-decoration: none;
}

.redesespacio-noticia:hover {
    margin-left: 20px;
    color: #DA2A1C;
    text-decoration: none;
}

.redesnoticias {
    display: flex;
    margin-left: 30px;
    color: #888888;
}

.redesnoticias li:hover {
    color: #DA2A1C;
}

.abridor {
    height: 120px;
    width: 4px;
    background: #DA2A1C;
    display: inline-block;
    margin-bottom: 3px;
}

.titlecategorynoticias {
    margin-bottom: 0px;
    margin-top: 40px;
    color: #383838;
}

.titlecategorynoticias h1 {
    font-size: 24px;
    margin-top: 40px;
    color: #383838;
    font-weight: bold;
}

.titlecategorynoticias h4 {
    font-size: 24px;
    margin-top: 40px;
    color: #383838;
    font-weight: bold;
}