.btn-header {
    font-size: 1.5rem;
    background: #DA2A1C;
    color: #fff !important;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    padding: 12px 50px 12px 50px;
    letter-spacing: 1px;
}

.btn-header:hover {
    background: #DA2A1C;
    color: #ffff;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 12px 50px 12px 50px;
    letter-spacing: 1px;
    transition: .4s ease;
    box-shadow: 0px 0px 20px #DA2A1C;
}



.btn-card {
    font-size: 1.5rem;
    background: #DA2A1C;
    color: #fff !important;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px 20px 10px 20px;
    letter-spacing: 1px;
}

.btn-card:hover {
    background: #DA2A1C;
    color: #ffff;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    letter-spacing: 1px;
    transition: .4s ease;
    box-shadow: 0px 0px 20px #DA2A1C;
}

