.main {
    background: #DEDEDE;
    
}

.notmargin {
    margin: 0px;
    padding: 0px;
}

.logoshome {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
    margin: 50px 70px 20px 70px;
}

.espacio {
    margin: 0px 30px 0px 30px;
}

.espacio1 {
    margin: 0px 0px 0px 70px;
}

.position {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.square-brand {
    display: flex;
    height: 300px;
    margin: 0 10px 10px 0;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}

.square-brand:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888
}

.square-brand-text {
    text-align: left;
    padding: 0px 0px 0px 0px;
    color: #383838;
}

.square-brand-text h3 {
    font-weight: bold;
    font-size: 18px;
}

.square-brand-text h6 {
    font-weight: normal;
    font-size: 14px;
}

.square-brand-product {
	display: flex;
	width: 410px;
	height: 240px;
	margin: 10px 10px 10px 10px;
	border-radius: 5px;
	background-color: #fff;
	overflow: hidden;
	position: relative;
	img {
		padding-left: 30px;
	}
	&:hover {
		transition: .4s ease;
		box-shadow: 0px 0px 20px #888888;
	}
}


.imput {
    margin: 10px;
    padding: 10px;
}

.imput option {
    margin: 20px;
    padding: 20px;
}

.d-flex-contacto {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* DETAILS PRODUCT */

.square-brand-closer {
    height: 350px;
    text-align: center;
    background-image: url(../img/grupo346.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
}

.square-brand-closer h3 {
    color: #ffff;
    font-weight: normal;
}

.square-brand-closer h6 {
    color: #ffff;
    font-weight: bold;
    font-size: 32px;
}

.formulariocloser {
    text-align: center;
    height: 350px;
    padding-top: 150px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #9e9e9e;
}

.text-form-closer {
    font-weight: lighter;
    color: #888888;
    font-size: 12px;
}

.input-group-text {
    border: none;
    background-color: #DA2A1C;
    font-size: 11px;
    color: #f2f2f2;
    font-weight: bold;
    letter-spacing: 1px;
    padding-right: 40px;
    padding-left: 40px;
}

.text-form-closer {
    font-weight: lighter;
    color: #888888;
    font-size: 12px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.center-elements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.center-elements1 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

.center-elements-brands {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    align-content: center;
}

.spam-decore {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    margin-bottom: 60px;
    margin-top: 10px;
}


.square-brand-promo1 {
    width: 90%;
    height: 280px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-image: url(../img/home-desktop/grupo-464.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.square-brand-promo1:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888
}

.square-brand-promo2 {
    width: 60%;
    height: 640px;
    margin: 0px 20px 0px 20px;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-image: url(../img/home-desktop/vhtsny_batch2_image5_finallarge.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.square-brand-promo2:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888
}

.square-brand-promo3 {
    width: 25%;
    height: 640px;
    margin: 0px 20px 0px 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #FFC94D;
    background-repeat: no-repeat;
}

.square-brand-promo3 img {
    max-width: 100%;
    width: auto;
}

.square-brand-promo3:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888
}

.square-brand-promo4 {
    width: 90%;
    height: 260px;
    margin: 20px 20px 20px 20px;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-image: url(../img/home-desktop/grupo-463.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.square-brand-promo4:hover {
    transition: .4s ease;
    box-shadow: 0px 0px 20px #888888
}

.square-brand-text {
    text-align: left;
    padding: 90px 0px 20px 20px;
    color: #383838; 
}
  
.square-brand-text1 {
    text-align: left;
    padding: 120px 30px 60px 30px;
    color: #383838; 
}
  
.square-brand-text2 {
    text-align: left;
    padding: 90px 30px 30px 60px;
    color: #383838; 
}
  
.square-brand-text2 h3 {
    font-weight: bold; 
}
  
.square-brand-text3 {
    text-align: center;
    padding: 60px 30px 60px 30px;
    color: #383838; 
}
  
.square-brand-text3 h3 {
    font-weight: bold; 
}
  
.square-brand-text4 {
    text-align: right;
    padding: 260px 30px 30px 50px;
    color: #fff; 
}
  
.square-brand-text4 h3 {
    font-weight: bold;
    color: #fff; 
}
  
.square-brand-text5 {
    text-align: right;
    padding: 90px 30px 30px 50px;
    color: #383838; 
}
  
.square-brand-text5 h3 {
    font-weight: bold; 
}
